---
let title = 'Tags'

// const allPosts =( await import.meta.globEager(`./post/*.md`));
let allPosts = await Astro.glob('../post/*.md');

let postAry = [];
for (postkey in allPosts) {
  let currentPost = allPosts[postkey];
  postAry.push({
    frontmatter: currentPost.frontmatter,
    url: currentPost.url
  });
}
allPosts = postAry;

//const tags = [...new Set([].concat.apply([],allPosts.map(post => post.frontmatter.tags)))]

const allTags = new Set()
  allPosts.map(post => {
      post.frontmatter.tags && post.frontmatter.tags.map(tag => allTags.add(tag.toLowerCase()))
  })
const arrayTags = Array.from(allTags).sort()

//console.log(tags)
console.log(arrayTags)

---

<html lang="en">
	<head>
    </head>
    <body>
    <main>
    <br>
    <br>

    <h1>Tags</h1>
    <div style="display: flex; flex-wrap: wrap; margin: 0 auto">
        {arrayTags.map((tag) => (
            <p style="padding: .5em 1em; margin: 0.25em; font-size:1.15em; background-color:#F8FCFD; border: dotted 1px #a1a1a1; border-radius:.5em;" >
            <a href={`/tags/${tag}`}>{tag}</a>
            </p>
        ))}
    </div>
    </main>
    </body>
</html>