---
import "../styles/global.css";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
			<div>
				<div class="text-xl font-medium text-black">ChitChat</div>
				<p class="text-slate-500">You have a new message!</p>
			</div>
		</div>
		<h1>The is an H1 header</h1>
		<h2>This is an H2 header</h2>

		<p class="hidden md:block">Text to hide on small screens</p>

		<p class="invisible md:visible">Text to hide on small screns</p>

		<div class="hidden lg:block" > 
			<p>Some text visible in large screen.</p> 
		</div>

	</body>
</html>